; This example file lists all required and optional Values.
; It is meant for easy identification of games. 

[game]
; Choose a memorable name.
name="Balloon Pop"
; Say what your game is about.
desc="Pop the balloons of the right color"
; These paths are relative to the game folder.
main_scene="balloon_pop.tscn"
icon="balloon.png"
; Version has no effect. But it might be shown in debug menus.
version="1.0"
; Put your name here.
creator="ASecondGuy"
